<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
  <h1>About Little Annie Motel</h1>
  <hr />
  <p>Annie opened her tattoo shop, The Motel, in 2017. Since then it's moved locations and focuses. Though she still tattoos and employs licensed tatooers, this year she undertook the considerable task of providing a safe environment for girls, gays, and theys to learn their craft. Often it's very difficult for members of marginalized groups to find a tatoo apprenticeship where they aren't financially abused, sexually harrassed, or generally treated as less than. Having experienced this first hand and hearing many horror stories (and despite the stigma against the concept), Annie opened the motel doors to 5 fortunate individuals, thereby creating "Annie's Schools for Wayward GGT"<p>
  {% endblock %}
  <footer>All Rights Reserved, &copy; 2021 Little Annie Motel</footer>
</body>
</html>
